.sidenav-bg {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    top: -20px;
    width: 100%;
    height: 120%;
    z-index: 1;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: inherit;
    padding-top: 20px;
    -webkit-animation: open 5s;
    /* Safari 4.0 - 8.0 */
    animation: open 0.3s;
}

@-webkit-keyframes open {
    from {
        left: -200px;
    }
    to {
        left: 0px;
    }
}

@keyframes open {
    from {
        left: -200px;
    }
    to {
        left: 0px;
    }
}

.collapsed {
    animation: open 0.3s reverse;
    display: none;
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media only screen and (max-width: 1200px) {
    .sidenav {
        width: 35%;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}